body {
	background-size: 100%;
	background-attachment: fixed;
	/*background-image: url('CooperUnionBackground.jpg'); */
	
	margin-left: 0%;
	margin-right: 100%;

	width: 100%;
	text-align: center;

	color: black;

	position: relative;
}

@font-face{
font-family: "FoundGriMed";
src: url('FoundGriMed');
font-weight: normal;
}

#top{
	background-color: #1b1b1b;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 20px 100px;
    width: 100%;
    height: 70px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

#hometext {
margin-top: 10%;
margin-left: 10%;
margin-right: 50%;
}



}
header {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 0 auto;
}
header hgroup {
    position: fixed;
    display: block;
}


/* page title font */
header hgroup h1 {
    font-size: 40px;
	font-family: "FoundGriMed", Helvetica;
    color: #fff;
    display: inline-table;
    height: 50px;
    left: 6%;
    text-align: left;
    margin-top: 0px;
}

/* green feature div heading font */
h2 {
	font-family: Helvetica;
	font-size: 20px;
	display: block;
	margin: 2%;
	text-align: center;
	/*text-shadow: 0px 3px 5px #3C7A5F;*/
}


/* green feature copy font */
h3 {
	font-family: Helvetica;
	font-size: 16px;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
	display: block;
	font-weight: normal;
}

/* About Us headings font */
h4 {
	font-family: Helvetica;
	font-size: 18px;
	display: table-row;
	text-align: left;
	opacity: 1;
}

.abouttext {
	font-family: Helvetica;
	font-size: 16px;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	display: table-row;
}

p {
	font-family: Helvetica;
	font-size: 16px;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
	display: block;
}

nav {
    margin-left: 35%;
}
nav ul li:hover > ul {
    display: block;
}
nav ul {
    margin-top: 10px;
    padding: 0 20px;  
    list-style: none;
    position: relative;
    display: inline-table;
}
nav ul:after {
    content: ""; 
    clear: both; 
    display: block;
}
nav ul li {
    float: left;
}
nav ul li:hover {
    color: #fff;
}
.tabs:hover {
    border-bottom: 5px solid #fff;
}
.cooperlogo{
	display: inline-table;
    height: 60.075px;
	width: 45.375px;
	z-index: 2;
	left: 3%;
	float: initial;
	position: fixed;
}
.title{
	display: inline-table;
	z-index: 2;
	left: 9%;
	top: 55px;
	float: initial;
	position: fixed;
}

nav ul li a:hover {
    color: #fff;
}
nav ul li a {
    display: block; 
    padding: 15px 15px;     
    font-family: Helvetica;
    color: #fff; 
    text-decoration: none;
}


/* all 8 green features */
#greenfeatures {
	float: center;
}

/* individual homepage divs */
#greenf {
	/*border: 4px solid rgba(225, 209, 0, 0.6);*/
	border-radius: 10px;
	/*background-color: rgba(225, 209, 0, 0.6);*/
	height: 300px;
	width: 300px;
	position: relative;
	margin: 10px 5px 10px 5px;
	color: black;
	float: center;
	text-decoration: none;
}
#greenf:hover {
	-webkit-transition: opacity 0.6s linear;
	opacity: 0.6;
	text-decoration: none;
} 
#greenf:active {
	top: 1%;
	text-decoration: none;
}

p.active {
	color: blue;
}

/*background: rgba(69, 139, 0, 0.6);*/

#greenf a {
	color: #000000
}

.greentable {
	margin: 5px;
	color: #000000;
	font-family: helvetica;
	font-size: 15px;
	display: inline-table;
	position: relative;
}

.greenpic {
	width: 100%;
	height: 0px;
	padding: 150px 0px 0px 0px;
	display: block;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	text-align: center;
	background-size: 100%;
}



#innerpagetable{
	margin-top: 75px;
	margin-left: 6%;
	margin-right: 6%;
}



.greenfeatureimage{
	width: 100%;
	margin-top: 75px;
}

form{
    position: fixed;
    top: 90%;
    left:10%;
    z-index: 5;
    width: 50px;
    font-size: 40px;
    line-height: 80px;
}

#backbutton{
	top: 90%;
    left:10%;
    z-index: 5;
    width: 50px;
    cursor: pointer;
}
#morebutton{
	top: 90%;
    right:10%;
    z-index: 5;
    width: 175px;
}
.button {
   border-top: 1px solid #000000;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   padding: 10.5px 21px;
   -webkit-border-radius: 26px;
   -moz-border-radius: 26px;
   border-radius: 26px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
    position: fixed;
   }
.button:hover {
   border-top-color: #000000;
   background: #000000;
   color: #bababa;
   }
.button:active {
   border-top-color: #1c1c1c;
   background: #1c1c1c;
   }