body {
	background-size: 100%;
	background-attachment: fixed;
	background-image: url('CooperUnionBackground.jpg'); 

	margin-left: 10%;
	margin-right: 100%;

	width: 80%;
	text-align: center;

	color: black;

	position: relative;
}

h1{
	position: relative;
	font-family: cooperfont;
	font-size:40pt;
}

#FirstParagraph{
	border: 5px solid rgba(69, 139, 0, 0.6);
	border-radius: 10px;
	background-color: rgba(69, 139, 0, 0.6);
	position: center;
	height: 150px;
	width: 770px;
	display: inline-block;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

div p {
	font-size: 20pt;
	text-align: center;
	margin: 10px
	color: black;
}

div{
	position: center;
}

h1 {
	text-align: left;
}

#CogenDiagram{
	border: 5px solid rgba(225, 209, 0, 0.6);
	border-radius: 5px;
	background-color: rgba(225, 209, 0, 0.6);
	position: center;
	height: 400px;
	width: 800px;
	margin-bottom: 20px;
	margin-top: 20px;
	display: inline-block;
}

#SecondParagraph{
	border: 5px solid rgba(69, 139, 0, 0.6);
	border-radius: 5px;
	background-color: rgba(69, 139, 0, 0.6);
	position: center;
	height: 150px;
	width: 600px;
	display: inline-block;

}

#bottomtabs{
	position: absolute;
	height: 50px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0px;
}
.currenttab{
		display: inline-block;
		border-radius: 8px;
		border: solid 2px gray;
		background-color: rgba(225, 209, 0, 0.6);
		height: 50px;
		width: 120px;
		position: relative;
		font-size: 15pt;
		font-weight: bold;
}

.bottomtab{
		display: inline-block;
		border-radius: 8px;
		border: solid 2px gray;
		background-color: rgba(69, 139, 0, 0.6);
		height: 50px;
		width: 120px;
		position: relative;
		bottom: 0px;
		font-size: 15pt;
}